body {
  font-family: 'Lato';
  margin:0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

h1 {
  /* font-family: 'Lato', sans-serif; */
  font-weight:300;
  letter-spacing: .2rem;
  font-size:4.8rem;
  display: block;
}
h3 {
  /* font-family: 'Lato', sans-serif; */
  letter-spacing: .1rem;
  font-weight:300;
  font-size:2rem;
  display: block;
}

.header {
  position:relative;
  text-align:center;
  background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
  color:white;
}
.logo {
  width:5rem;
  fill:white;
  padding-right:1.5rem;
  display:inline-block;
  vertical-align: middle;
}

.inner-header {
  height:65vh;
  width:100%;
  margin: 0;
  padding: 0;
  position:relative;
  /* position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.header-text{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-.7rem; /*Fix for safari gap*/
  min-height:10rem;
  max-height:15rem;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-9rem,0,0);
  }
  100% { 
    transform: translate3d(8.5rem,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 76.8rem) {
  .waves {
    height:8rem;
    min-height:4rem;
  }
  .content {
    height:20vh;
  }
  h1 {
    font-size:5.6rem;
  }
  h3 {
    font-size: 3rem;
  }
}