.contact-div {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.contact-form-div {
  float: left;
  width: 50%;
  border-right: 2px solid black;
  margin: 2rem 0;
  position: relative;
}

.contact-form {
  background-color: #fff;
  border: none;
  border-radius: .5rem;
  box-shadow: .5rem 1rem 2rem rgba(0,0,0,.2);
  width: 80%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 37%;
  transform: translate(-50%, -50%);
}

.form-div {
  margin: 4rem;
}

.submit-button {
  float: right;
  width: 50%;
  font-size: 2rem;
  padding: 1.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: .5rem;
}